<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
</head>

<body>
    <header>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{url_for('view_category')}}?cat=Appetizer">Appetizer</a></li>
            <li><a href="{{url_for('view_category')}}?cat=Dessert">Dessert</a></li>
            <li><a href="{{url_for('view_category')}}?cat=Lunch">Lunch</a></li>
            <li><a href="{{url_for('view_category')}}?cat=Main Dish">Main Dish</a></li>
            <li><a href="{{url_for('view_category')}}?cat=Side Dish">Side Dish</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="{{url_for('get_recipes')}}" class="brand-logo" Style="margin-left: 10px;">NaijaRecipes</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_recipes')}}">All Recipes</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Recipe Categories<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="{{url_for('add_recipes')}}">Add Recipe</a></li>
                    <li><a href="{{url_for('contact_Us')}}">Contact Us</a></li>
                    <li><a href="{{url_for('logout')}}">Sign Out</a></li>
                    <li>
                        <form method=POST action="{{ url_for('search_recipes') }}">
                            <div class="input-field col s3">
                                <i class="material-icons prefix">search</i>
                                <input id="browse_recipes" name="browse_recipes" type="text">
                                <label for="icon_prefix">Search Recipes</label>
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="side-nav " id="mobile-demo">
                    <li><a href="{{url_for('get_recipes')}}"><b>All Recipes</b></a></li>
                    <li><a href="{{url_for('view_category')}}?cat=Appetizer"><em>Appetizer</em></a></li>
                    <li><a href="{{url_for('view_category')}}?cat=Dessert"><em>Dessert</em></a></li>
                    <li><a href="{{url_for('view_category')}}?cat=Lunch"><em>Lunch</em></a></li>
                    <li><a href="{{url_for('view_category')}}?cat=Main Dish"><em>Main Dish</em></a></li>
                    <li><a href="{{url_for('view_category')}}?cat=Side Dish"><em>Side Dish</em></a></li>
                    <li><a href="{{url_for('add_recipes')}}"><b>Add Recipe</b></a></li>
                    <li><a href="{{url_for('contact_Us')}}"><b>Contact Us</b></a></li>
                    <li><a href="{{url_for('logout')}}"><b>Sign Out</b></a></li>
                    <li>
                        <form method=POST action="{{ url_for('search_recipes') }}">
                            <div class="input-field col s3">
                                <i class="material-icons prefix">search</i>
                                <input id="browse_recipes" name="browse_recipes" type="text">
                                <label for="icon_prefix">Search Recipes</label>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="slider grey darken-4">
        <ul class="slides ">
            <li>
                <img src="/static/images/food.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>Welcome to Naija Recipes</h3>
                    <h5 class="light grey-text text-lighten-3">Browse through our Tasty Recipes.</h5>
                </div>
            </li>
            <li>
                <img src="/static/images/food2.jpg">
                <!-- random image -->
                <div class="caption left-align">
                    <h3>Submit Recipes</h3>
                    <h5 class="light grey-text text-lighten-3">Easily share your own recipe on our site.</h5>
                </div>
            </li>
            <li>
                <img src="/static/images/food3.jpg">
                <!-- random image -->
                <div class="caption right-align">
                    <h3>Edit Recipes</h3>
                    <h5 class="light grey-text text-lighten-3">Update your recipes on our site.</h5>
                </div>
            </li>
            <li>
                <img src="/static/images/food4.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>Delete Recipes</h3>
                    <h5 class="light grey-text text-lighten-3">Also delete recipes you no longer want.</h5>
                </div>
            </li>
            <li>
                <img src="/static/images/food5.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>Happy Sharing</h3>
                    <h5 class="light grey-text text-lighten-3">Have a wonderful time .</h5>
                </div>
            </li>
        </ul>
    </div>

    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">NaijaRecipes</h5>
                    <p class="grey-text text-lighten-4">Easily add-in a short description about your recipe! This can be of any length. Remember, you are trying to sell your recipe!.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Recipe Categories</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="{{url_for('view_category')}}?cat=Appetizer">Appetizer</a></li>
                        <li><a class="grey-text text-lighten-3" href="{{url_for('view_category')}}?cat=Dessert">Dessert</a></li>
                        <li><a class="grey-text text-lighten-3" href="{{url_for('view_category')}}?cat=Lunch">Lunch</a></li>
                        <li><a class="grey-text text-lighten-3" href="{{url_for('view_category')}}?cat=Main Dish">Main Dish</a></li>
                        <li><a class="grey-text text-lighten-3" href="{{url_for('view_category')}}?cat=Side Dish">Side Dish</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright" style="text-align: center;">
            <div class="container">
                © 2019 All Rights Reserved. Developed by TGIStudios
                <ul>
                    <a target="_blank" href="https://www.facebook.com/caleb.rex.96"><i class = " fa fa-facebook" aria-hidden="true"></i><span class = "sr-only">Facebook</span></a>
                    <a target="_blank" href="https://twitter.com/calebrex01"><i class = " fa fa-twitter" aria-hidden="true"></i><span class = "sr-only">Twitter</span></a>
                    <a target="_blank" href="https://www.instagram.com/caleb.rex01/"><i class = " fa fa-instagram" aria-hidden="true"></i><span class = "sr-only">Instagram</span></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UC_B7e65upco510Sio9dZJhg"><i class = " fa fa-youtube" aria-hidden="true"></i><span class = "sr-only">Youtube</span></a>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('.slider').slider();
            $(".dropdown-button").dropdown();

       
        });
    </script>
</body>

</html>
