@app.route('/insert_recipes', methods=['POST'])
def insert_recipes():
    
    f = request.files['file']
    
    f.save(secure_filename(f.filename))
    filename= secure_filename(f.filename)
    
    with open( filename, 'rb')  as f:
    
     s3.Bucket(BUCKET_NAME).put_object(Key=filename, Body=f, ACL='public-read')

    Recipies = mongo.db.Recipies
    recipe_dict = request.form.to_dict()
    recipe_dict['image_url'] = "https://naija-recipe.s3.eu-west-2.amazonaws.com/" + filename
    Recipies.insert_one(recipe_dict)
    return redirect(url_for('get_recipes'))
    
    
    
    
    
           <div>
            <img src="{{recipe.image_url}}" alt="." height="220" width="320">
        </div>
    
    
    
    
        <!-- Upload Image for recipe -->
        <div class="mb-5 col-8">
            <img src="https://www.industriehof.com/images/social/xing-24x24.png" id="img-preview" />
            <div class="custom-file">
                <input type="file" class="custom-file-input" name = "file">
                <label class="custom-file-label">Choose image</label>
            </div>
        </div>
        
        
        
        
         <div>
            <img src="{{task.image_url}}" height="220" width="320">
        </div>
        <br>
    
    



data = open(f, 'rb')


http://naija-recipe.s3.amazonaws.com/food.jpg"

    s3 = boto3.resource(
    's3',
    aws_access_key_id=ACCESS_KEY_ID,
    aws_secret_access_key=ACCESS_SECRET_KEY,
    config=Config(signature_version='s3v4')
    )
    s3.Bucket(BUCKET_NAME).put_object(Key=f, Body=data)


    data = open(f, 'rb')

    s3 = boto3.resource(
    's3',
    aws_access_key_id=ACCESS_KEY_ID,
    aws_secret_access_key=ACCESS_SECRET_KEY,
    config=Config(signature_version='s3v4')
    )
    s3.Bucket(BUCKET_NAME).put_object(Key=f, Body=data)
    
    print( 'file uploaded successfully')
    
    
    data = open('f', 'rb')

<!-- add recipe html -->
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">poll</i>
        <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>
        <label>Task Category</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">assignment</i>
        <input id="task_name" name="task_name" type="text">
        <label for="icon_prefix">Task Name</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">subject</i>
        <textarea name="task_description" id="task_description" class="materialize-textarea"></textarea>
        <label for="icon_telephone">Task Description</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">today</i>
        <input id="due_date" name="due_date" type="text" class="datepicker">
        <label for="icon_prefix">Due Date</label>
    </div>
</div>
<div class="row">
    <div class="switch">
        <label>
                  <input id="is_urgent" name="is_urgent" type="checkbox">
                  <span class="lever"></span>
                  Is Urgent
                </label>
    </div>
</div>





@app.route('/view_recipes/
<recipes_id>', methods=["GET"]) def view_recipes(recipes_id): the_recipes = mongo.db.Recipies.find_one({"_id": ObjectId(recipes_id)}) return render_template('viewRecipes.html', recipe=the_recipes)




    <form method=POST action="{{ url_for('search_recipes') }}">
        <div class="container " style="text-align: center;">
            <div class="row">
                <div class="input-field col s3">
                    <i class="material-icons prefix">assignment</i>
                    <input id="browse_recipes" name="browse_recipes" type="text">
                    <label for="icon_prefix">Browse Recipes</label>
                    <button type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
            </div>
        </div>
    </form>






    <!-- edit recipe html -->
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">poll</i>
            <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      {% if cat.category_name == recipe.category_name %}
                      <option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                      {% else %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                      {% endif %}
                  {% endfor %}
                </select>
            <label>Task Category</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="task_name" name="task_name" type="text" value="{{recipe.task_name}}">
            <label for="icon_prefix">Task Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <textarea name="task_description" id="task_description" class="materialize-textarea">{{recipe.task_description}}</textarea>
            <label for="icon_telephone">Task Description</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">today</i>
            <input id="due_date" name="due_date" type="text" class="datepicker">
            <label for="icon_prefix">Due Date</label>
        </div>
    </div>
    <div class="row">
        <div class="switch">
            <label>
                  <input id="is_urgent" name="is_urgent" type="checkbox">
                  <span class="lever"></span>
                  Is Urgent
                </label>
        </div>
    </div>
